@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

.container {
  height: calc(100vh - 200px);
  width: 1800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 10px;
}

.container h1 {
  font-family: "Bungee", cursive;
  font-size: 50px;
  color: #003049;
}

.nota {
  font-family: "Bungee", cursive;
  font-size: 20px;
  color: #d62828;
}
