.container {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container button {
  height: 45px;
  border-radius: 10px;
}

.container input {
  height: 45px;
  border-radius: 10px;
}
