@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");

.formMain {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  padding: 80px;
  border-radius: 30px;
  background-color: #fdf0d5;
  font-size: 17px;
}

.formMain form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #fdf0d5;
}

.formMain input {
  width: 300px;
  height: 40px;
  border-radius: 3px;
  box-shadow: none;
  background-color: #f4f3ee;
}

.formMain div {
  background-color: #fdf0d5;
}

.formMain button {
  margin-top: 10px;
  background-color: #e63946;
  font-weight: 700;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
}

.formMain button:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #c1121f;
  color: #f4f3ee;
}
